.items {
  display: flex;
  flex-wrap: wrap;
  width: 1260px;
  margin: 0 auto;
  margin-left: 30px;
  padding-top: 1.25rem;

}

.item,
.blur {

  width: 394px;
  height: 100px;
  background: #00a0c6;
  margin: 10px;
  text-align: center;
  border: solid black 2px;
  padding: 23pt 0;
  line-height: 11.5pt;
}

.blur {
  opacity: 0.2;
}

.item h3,
.blur h3 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.item p,
.blur p {
  color: #bdc3c7;
  font-size: 0.9rem
}


.item:hover {
  background-color: #ffbf00;
}


.item:hover a {
  color: black;
}

.item:hover p {
  color: #333;
}