.login {
  color: #555555;
  font-size: 16px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.title_color {
  color: #222222;
}

input {
  color: #222222;
  padding: 10px;
}

.login_part {
  margin-top: 16px;
  margin-bottom: 16px;
}