html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
    * A better looking default horizontal rule
    */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
    * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
    */

img {
  vertical-align: middle;
}

/*
    * Remove default fieldset styles.
    */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
    * Allow only vertical resizing of textareas.
    */

textarea {
  resize: vertical;
}

/* ==========================================================================
      Chrome Frame prompt
      ========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
      Author's custom styles
      ========================================================================== */

#topbar {
  background: #00a0c6;
  height: 30px;
}

#title {
  margin: 0;
  background: #ffbf00;
  font-size: 40pt;
  color: black;
  padding-left: 230px;
  font-weight: bold;
  cursor: pointer;
}

#title2 {
  margin: 0;
  background: #f2eb3e;
  font-size: 40pt;
  color: black;
  padding-left: 230px;
  font-weight: bold;
  cursor: pointer;
}

#logo {
  cursor: pointer;
  width: 183px;
  height: 150px;
  margin-top: -100px;
  margin-left: 30px;
  background-image: url("/logo.png");
  background-repeat: no-repeat;
}

#logo2 {
  cursor: pointer;
  width: 183px;
  height: 150px;
  margin-top: -100px;
  margin-left: 30px;
  background-image: url("/logo2.png");
  background-repeat: no-repeat;
}

#content {
  margin-top: 20px;
  margin-left: 30px;
}

.caseblock {
  cursor: pointer;
  float: left;
  padding: 20px;
  width: 350px;
  height: 65px;
  background: #00a0c6;
  margin: 10px;
  text-align: center;
  border: solid black 2px;
}

.caseblock_u {
  float: left;
  padding: 20px;
  width: 350px;
  height: 65px;
  background: #00a0c6;
  margin: 10px;
  text-align: center;
  border: solid black 2px;
  opacity: 0.2;
}

.caseblock a,
.caseblock_u a {
  font-size: 20pt;
  color: white;
  text-decoration: none;
}

.casedescr {
  margin-top: 7px;
  font-size: 10pt;
  color: #ccc;
}

.caseblock:hover .casedescr {
  color: #333;
}

.caseblock:hover a {
  color: black;
}

.caseblock:hover {
  background: #ffbf00;
}

h1 {
  font-weight: normal;
  font-size: 40pt;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* ==========================================================================
      Helper classes
      ========================================================================== */

/*
    * Image replacement
    */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/*
    * Hide from both screenreaders and browsers: h5bp.com/u
    */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
    * Hide only visually, but have it available for screenreaders: h5bp.com/v
    */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
    * Extends the .visuallyhidden class to allow the element to be focusable
    * when navigated to via the keyboard: h5bp.com/p
    */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
    * Hide visually and from screenreaders, but maintain layout
    */

.invisible {
  visibility: hidden;
}

/*
    * Clearfix: contain floats
    *
    * For modern browsers
    * 1. The space content is one way to avoid an Opera bug when the
    *    `contenteditable` attribute is included anywhere else in the document.
    *    Otherwise it causes space to appear at the top and bottom of elements
    *    that receive the `clearfix` class.
    * 2. The use of `table` rather than `block` is only necessary if using
    *    `:before` to contain the top-margins of child elements.
    */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
    * For IE 6/7 only
    * Include this rule to trigger hasLayout and contain floats.
    */

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
      EXAMPLE Media Queries for Responsive Design.
      Theses examples override the primary ('mobile first') styles.
      Modify as content requires.
      ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
      Print styles.
      Inlined to avoid required HTTP connection: h5bp.com/r
      ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
        * Don't show links for images, or javascript/internal links
        */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.error {
  color: red;
}

.success {
  color: green;
}

/* CASE PAGE */

#caseinfo {
  font-size: 12pt;
  color: #555;
  margin-bottom: 30px;
}

/* TABLE */

#case_table td {
  text-align: right;
}

#case_table th {
  background: #333;
  color: white;
  text-align: center;
}

/* BLOCKS */

#case_blocks {
  width: 900px;
}

#case_blocks .left {
  float: left;
  overflow-y: auto;
  width: 80%;
}

#case_blocks .right {
  float: right;
  overflow-y: auto;
  width: 20%;
}

#case_blocks .prod1,
.prod2,
.price1,
.price2 {
  height: 55px;
  width: 100%;
}

#case_blocks .price1,
.price2 {
  text-align: right;
}

#case_blocks .prod1,
.price1 {
  background-color: #f5f5f5;
}

#case_blocks .prod2,
.price2 {
  background-color: #e1e1e1;
}

#case_blocks .name {
  font-weight: bold;
}

#case_blocks .best {
  color: red;
}

#case_blocks .disc {
  color: gray;
  font-size: 8pt;
}

#case_blocks .ads {
  height: 50px;
  background: #ffbf00;
  color: white;
  font-size: 24pt;
  text-align: center;
}

/* TEXT LIST */

#case_textlist {
  font-family: Courier, "Courier New", monospace;
  font-size: 18pt;
}

/* INVALID HTML */

#case_invalid > div {
  font-family: Courier, "Courier New", monospace;
  font-size: 18pt;
  background-color: #ddd;
  margin: 5px;
  padding: 5px;
  max-width: 300px;
}

/* AJAX */

#case_ajax .case {
  margin: 5px;
  padding: 5px;
  border: 1px dotted #aaa;
  width: 300px;
}

/* CAPTCHA */

#case_captcha h3 {
  margin-top: 50px;
}

/* WHO AM I? */

#case_whoami .name {
  font-size: 12px;
  color: #999;
}

#case_whoami .value {
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
}
