@import url('../fonts/Century Gothic.ttf');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a {
  text-decoration: none;
}

.nav .top {
  height: 2rem;
  background: #3498db;
}

.nav .title {
  background: #f1c40f;
  font-size: 3rem;
  color: #222222;
  text-align: center;
  padding: 0.75rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.img {
  background-image: url('../img/logo3.png');
  height: 190px;
  width: 200px;
  margin-top: -125px;
  margin-left: 40px;

}

.container {

  margin-left: 40px;
}

.wrapper {
  margin-top: 2.5rem;
  margin-left: 40px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mt-32 {
  margin-top: 4rem;
}

.list {
  margin-left: 3rem;
}

.list a {
  text-decoration: underline;
}

.wrapper .title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: normal;
  color: #333;
}