.report {
  color: #555555;
  font-size: 16px;
}

thead {
  display: table-header-group;
  /* h5bp.com/t */
}

tr {
  page-break-inside: avoid;
}

.case_table td {
  text-align: right;
}

.case_table th {
  background: #333;
  color: white;
  text-align: center
}