.text-list {
  color: #555;
}

.population {
  font-family: Courier, "Courier New", monospace;
  width: 400px;
  display: flex;
  color: black;
  justify-content: space-between;
}

.child {
  font-size: 1.5rem;
  margin-top: 8px;

}


.hr {
  width: 400px;
  display: inline-block;
  border-top: 2px dashed black;
}

.space {
  letter-spacing: 2px;
}