.nav .title {
  background: #f1c40f;
  font-size: 2rem;
  color: #222222;
  text-align: center;
  padding: 0.75rem;
  text-transform: uppercase;
  margin-left: -2;

}


.img {
  height: 200px;
  width: 200px;
  margin-top: 5px;
  margin-left: 80px;

}