.ajax {
  color: #555;
}

.ajax a {
  text-decoration: underline;
}

.line {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.html ul,
.xml ul,
.json ul {
  margin-left: -0.3rem;
  border: 1px solid grey;
  padding: 3rem;
  width: 300px;
}

.test {
  margin-left: -0.3rem;
  border: 1px solid grey;
  padding: 3rem;
  width: 300px;
}