.login {
  color: #555;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.line {
  margin-top: 2rem;
}

.login-form {
  margin-top: 20px;
}

.input {
  padding: 0.25rem;
}

.submit {
  padding: 0.5rem;
}

.line {
  margin-top: 2rem;
}

.info {
  margin-top: -1rem;
}