/* @import url('../fonts/Century Gothic.ttf'); */

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

a {
  text-decoration: none;
}

/* utility classes */

.mt-12 {
  margin-top: 12px;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-48 {
  margin-bottom: 3rem;
}

.mt-32 {
  margin-top: 4rem;
}

.list {
  margin-left: 3rem;
}

.line {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.list a {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.blur {
  opacity: 0.2;
}

.center {
  text-align: center !important;
}

.pink {
  background: pink;
}

.bg {
  background-color: #eee;
  height: 3px;
}

.color {
  background-color: #eee;
}

.space {
  letter-spacing: 2px;
}

.gray {
  background-color: #e1e1e1;
}

.white {
  background-color: #f5f5f5;
}

.bg {
  background-color: #ff9800;
  color: white;
  font-size: 1.5rem;
}

/* styles */

.nav .top {
  height: 2rem;
  background: #3498db;
}

.nav .title {
  background: #f1c40f;
  font-size: 3rem;
  color: #222222;
  text-align: center;
  padding: 0.75rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.img {
  background-image: url('../img/logo3.png');
  height: 190px;
  width: 200px;
  margin-top: -125px;
  margin-left: 40px;
}

.container {
  margin-top: 8rem;
  padding: 10px;
}

.wrapper {
  margin: 9rem auto 30px 40px;
  font-size: 1rem;
  line-height: 1.5;
}

.wrapper .title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: normal;
  color: #333;
}

/* AJAX */
.ajax {
  color: #555;
}

.ajax a {
  text-decoration: underline;
}

.html ul,
.xml ul,
.json ul {
  margin-left: -0.3rem;
  border: 1px solid grey;
  padding: 3rem;
  width: 300px;
}

.test {
  margin-left: -0.3rem;
  border: 1px solid grey;
  padding: 3rem;
  width: 300px;
}

/* HOME */
.items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding-top: 1.25rem;
}

.item,
.blur {
  width: 394px;
  height: 100px;
  background: #00a0c6;
  margin: 10px;
  text-align: center;
  border: solid black 2px;
  padding: 23pt 0;
  line-height: 11.5pt;
}

.item h3,
.blur h3 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.item p,
.blur p {
  color: #bdc3c7;
  font-size: 0.9rem;
}

.item:hover {
  background-color: #ffbf00;
}

.item:hover h3 {
  color: black;
}

.item:hover p {
  color: #333;
}

/* TABLE */
.table-report {
  color: #555;
}

.list a {
  text-decoration: underline;
}

.table {
  margin-top: 3rem;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}

.table th {
  border: 1px solid grey;
  padding: 0.75rem;
  /* border-bottom: 1px solid #dddddd; */
  background: #333;
  text-align: center;
  color: white;
  width: 150px;
}

.table td {
  width: 150px;
  padding: 0.75rem;
  border: 1px solid grey;
  text-align: right;
}

/* TEXT LIST */

.text-list {
  color: #555;
}

.population {
  font-family: Courier, 'Courier New', monospace;
  width: 400px;
  display: flex;
  color: black;
  justify-content: space-between;
}

.child {
  font-size: 1.5rem;
  margin-top: 8px;
}

.hr {
  width: 400px;
  display: inline-block;
  border-top: 2px dashed black;
}

/* BLOCK */
.block {
  color: #555;
}

table {
  margin-top: 3rem;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  background: #e1e1e1;
}

table th {
  /* border: 5px solid greenyellow; */
  padding: 0.25rem;
}

.best {
  width: 50px;
  color: red;
}

.discount {
  font-size: 10px;
}

.submit {
  padding: 0.5rem;
  margin-top: 5px;
}

/* Invalid HTML */
.invalid-data .child-data {
  font-size: 18pt;
  background-color: #ddd;
  margin: 5px;
  padding: 5px;
  max-width: 300px;
}

/* LOGIN */
.login-form input {
  margin-left: 10px;
}
.success {
  color: green;
}
.danger {
  color: red;
}
